name: Go

on:
  workflow_dispatch:
  release:
    types: [published]
  push:

jobs:
  build:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64

          - goos: android
            goarch: arm64

          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: arm
            goarm: 7
          - goos: linux
            goarch: riscv64
          - goos: linux
            goarch: mips64
          - goos: linux
            goarch: mips64le
          - goos: linux
            goarch: mips
          - goos: linux
            goarch: mipsle
          - goos: linux
            goarch: mips64
            gomips: softfloat
          - goos: linux
            goarch: mips64le
            gomips: softfloat
          - goos: linux
            goarch: mips
            gomips: softfloat
          - goos: linux
            goarch: mipsle
            gomips: softfloat

          - goos: windows
            goarch: amd64
          - goos: windows
            goarch: arm64
          - goos: windows
            goarch: 386

    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOARM: ${{ matrix.goarm }}
      GOMIPS: ${{ matrix.gomips }}
      CGO_ENABLED: 0
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v5

      - name: Show workflow information
        run: |
          export _NAME=$GOOS-$GOARCH$GOARM$GOMIPS
          echo "GOOS: $GOOS, GOARCH: $GOARCH, GOARM: $GOARM, GOMIPS: $GOMIPS, RELEASE_NAME: $_NAME"
          echo "ASSET_NAME=$_NAME" >> $GITHUB_ENV
          echo "REF=${GITHUB_SHA::6}" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          check-latest: true

      - name: Build vwarp
        run: |
          go build -v -o vwarp_${{ env.ASSET_NAME }}/ -trimpath -ldflags "-s -w -buildid= -checklinkname=0 -X main.version=${{ github.ref }}" ./cmd/vwarp
          go build -v -o vwarp-scan_${{ env.ASSET_NAME }}/ -trimpath -ldflags "-s -w -buildid= -checklinkname=0 -X main.version=${{ github.ref }}" ./cmd/warp-scan

      - name: Copy README.md & LICENSE
        run: |
          cp ${GITHUB_WORKSPACE}/README.md ./vwarp_${{ env.ASSET_NAME }}/README.md
          cp ${GITHUB_WORKSPACE}/LICENSE-GPL-3.0 ./vwarp_${{ env.ASSET_NAME }}/LICENSE-GPL-3.0

      - name: Create ZIP archive
        shell: bash
        run: |
          pushd ./vwarp_${{ env.ASSET_NAME }} || exit 1
          touch -mt $(date +%Y01010000) *
          zip -9vr ../vwarp_${{ env.ASSET_NAME }}.zip .
          popd || exit 1
          FILE=./vwarp_${{ env.ASSET_NAME }}.zip
          DGST=$FILE.dgst
          for METHOD in {"md5","sha256","sha512"}
          do
            openssl dgst -$METHOD $FILE | sed 's/([^)]*)//g' >>$DGST
          done

      - name: Upload vwarp files to Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: vwarp_${{ env.ASSET_NAME }}_${{ env.REF }}
          path: |
            ./vwarp_${{ env.ASSET_NAME }}/*

      - name: Upload vwarp-scan files to Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: vwarp-scan_${{ env.ASSET_NAME }}_${{ env.REF }}
          path: |
            ./vwarp-scan_${{ env.ASSET_NAME }}/*

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        if: github.event_name == 'release'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./vwarp_${{ env.ASSET_NAME }}.zip*
          tag: ${{ github.ref }}
          file_glob: true
